{% extends 'base.html.twig' %}
{% block title %} {{ 'search.header'| trans }} {% endblock %}

{% block body %}

    <br/>
    <br/>
    <br/>
    <form>
        <p id="search">
            <label class="col-sm-2 col-form-label" for="pole">Data:</label>
            <input type="text" id="datepicker" placeholder="">
            <br/>
            <br/>
            <label class="col-sm-2 col-form-label" for="pole">Miasto:</label>
            <select id="pole" class="select">
                <option value="0"></option>
                <option value="1">Gdynia</option>
                <option value="2">Sopot</option>
                <option value="3">Gdańsk</option>
            </select>
            <br/>
            <br/>
            <label class="col-sm-2 col-form-label" for="pole">Klub:</label>
            <select id="pole" class="select" > {#size="2"#}
                <option value="0"></option>
                <option value="1">Atlantic</option>
                <option value="2">B90</option>
                <option value="3">Blues Club</option>
                <option value="4">Bunkier</option>
                <option value="5">Desdemona</option>
                <option value="6">Kwadratowa</option>
                <option value="7">Metro</option>
                <option value="8">Parlament</option>
                <option value="9">Pokład</option>
                <option value="10">Protokultura</option>
                <option value="11">Scena</option>
                <option value="12">Sfinks700</option>
                <option value="13">Stary Maneż</option>
                <option value="14">Ucho</option>
                <option value="15">Wydział Remontowy</option>
                <option value="16">Żak</option>
            </select>
            <br/>
            <br/>
            <label class="col-sm-2 col-form-label" for="pole">Zespół:</label>
            <input id="pole"  type="text" placeholder="">
            <br/>
            <br/>
            <label class="col-sm-2 col-form-label" for="pole">Gatunek:</label>
            <select id="pole" class="select">
                <option value="0"></option>
                <option value="1">Blues</option>
                <option value="2">Country</option>
                <option value="3">Electronic</option>
                <option value="4">Filmowa</option>
                <option value="5">Folk</option>
                <option value="6">Funk</option>
                <option value="7">Hard-core</option>
                <option value="8">Hip-hop</option>
                <option value="9">Jazz</option>
                <option value="10">Poetycka</option>
                <option value="11">Pop</option>
                <option value="12">Reggae</option>
                <option value="13">Rock</option>
                <option value="14">Ska</option>
                <option value="15">Soul</option>
            </select>
            <br/>
            <br/>
            <label class="col-sm-2 col-form-label" for="pole">Cena:</label>
            <select id="pole" class="select">
                <option value="0"></option>
                <option value="1">bezpłatne</option>
                <option value="2">0-25zł</option>
                <option value="3">25-50zł</option>
                <option value="4">50-100zł</option>
                <option value="5">100-150zł</option>
                <option value="6">150-200zł</option>
                <option value="7">200-250zł</option>
                <option value="8">250-300zł</option>
                <option value="9"> >300zł </option>
            </select>
            <br/>
            <br/>
            <br/>
            <button id="button2" class="btn btn-secondary btn-lg" type="submit"> {{ 'search.button'|trans|capitalize }}</button>
        </p>
    </form>



{% endblock %}





{#    <form>
        <p id="search">
            <label class="col-sm-2 col-form-label" for="pole">Data:</label>
            <input type="text" id="datepicker" placeholder="">
            <br/>
            <br/>
            <label class="col-sm-2 col-form-label" for="pole">Miasto:</label>
            <input id="pole" type="text" placeholder="">
            <br/>
            <br/>
            <label class="col-sm-2 col-form-label" for="pole">Klub:</label>
            <input id="pole" type="text" placeholder="">
            <br/>
            <br/>
            <label class="col-sm-2 col-form-label" for="pole">Zespół:</label>
            <input id="pole"  type="text" placeholder="">
            <br/>
            <br/>
            <label class="col-sm-2 col-form-label" for="pole">Gatunek:</label>
            <input id="pole" type="text" placeholder=""/>
            <br/>
            <br/>
            <label class="col-sm-2 col-form-label" for="pole">Cena:</label>
            <input id="pole" type="text" placeholder=""/>
            <br/>
            <br/>
            <br/>
            <br/>
            <button id="button2" class="btn btn-secondary btn-lg" type="submit"> {{ 'search.button'|trans|capitalize }}</button>
        </p>
    </form>#}