{% extends 'base.html.twig' %}
{% block title %} {{ 'contact.header'| trans }} {% endblock %}

{% block body %}

    <div id="contact" class="w3-container w3-content w3-padding-64" style="max-width:800px" >
        <h2 class="w3-wide w3-center">CONTACT</h2>
        <h4 class="w3-opacity w3-center"><i>Fan? Drop a note!</i></h4>
        <div class="w3-row w3-padding-32">
            <div class="w3-col m6 w3-large w3-margin-bottom">
                <i class="fa fa-map-marker" style="width:30px"></i> Gdynia, PL<br>
                <i class="fa fa-phone" style="width:30px"></i> Phone: +48 6676767<br>
                <i class="fa fa-envelope" style="width:30px"> </i> Email: testhornsup@gmail.com<br>
            </div>
            <div class="w3-col m6">
                <form action="/action_page.php" target="_blank">
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <br>
                            <br>
                            <input id=name class="w3-input" type="text" placeholder="Name" required name="Name">
                        </div>
                        <br>
                        <br>
                        <div >
                            <input id=email class="w3-input" type="text" placeholder="Email" required name="Email">
                        </div>
                    </div>
                    <input id=message class="w3-input" type="text" placeholder="Message" required name="Message">
                    <br>
                    <br>
                    <button id=button3 class="btn btn-secondary btn-lg" type="submit">SEND</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{#54.5039433, 18.3233969#}