{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br/>
    <br/>
    {{ 'show.reset'|trans }}
    <br>
    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    <br>
{% endblock %}


{#
{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}
#}