<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>{% block title %} HornsUp \m/ {% endblock %}</title>

        <link rel="stylesheet" href='{{ asset('css/w3.css') }}'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {#<link href="{{ asset('css/fontawesome-all.min.css') }}" rel="stylesheet">#}

        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>

    <div class="menu">
        <div class="menu-toolbar">
            <a href="{{ path('homepage') }}" class="w3-bar-item w3-button w3-padding-large home">HOME</a>
            <a href="{{ path('searchpage') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SEARCH</a>
            <a href="{{ path('contactpage') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('myaccount') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small" >{{ 'myaccount.base'|trans }}</a>
                <a href="{{ path('fos_user_security_logout') }}" class="log" class="w3-bar-item w3-button w3-padding-large w3-hide-small" >{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                <span2 class="sign-up"> {{ 'login.sign-up'|trans|capitalize }}?<a class="reg" href={{ path('fos_user_registration_register') }}> {{ 'login.reg'|trans|capitalize }}!</a></span2>
            {% endif %}
            <a id="language" href="#language">PL/EN</a>
            {# <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
               <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="#" class="w3-bar-item w3-button">Merchandise</a>
                    <a href="#" class="w3-bar-item w3-button">Extras</a>
                    <a href="#" class="w3-bar-item w3-button">Media</a>
                </div>
            </div>#}
            {#<a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>#}
        </div>
    </div>
    <body>

    {% block body %}{% endblock %}

        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('bundles/ajax/js/js-url-2.3.0.min.js') }}"></script>
        <script src="{{ asset('bundles/ajax/js/BeeflowAjax.min.js') }}"></script>

        <title>jQuery UI Datepicker - Default functionality</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
                $( "#datepicker" ).datepicker();
            } );
        </script>

        {% block javascripts %}{% endblock %}

    <footer>
        <div class="w3-container w3-padding-16 w3-center w3-opacity w3-light-grey w3-xlarge ">
            <i class="fa fa-facebook-official"></i>
            <i class="fa fa-youtube"></i>
            {#<i class="fa fa-instagram></i>
            <i class="fa fa-snapchat"></i>
            <i class="fa fa-pinterest-p"></i>
            <i class="fa fa-twitter"></i>#}
            <i class="fa fa-linkedin"></i>
            <p class="team">@Copyright 2018, HornsUp, AllRightsReserved</p>
            <p class="team">All photos made by KFAF-Fotografia, AllRightsReserved</p>
        </div>
    </footer>
    </body>
</html>

{#}<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
{{ 'base.header'|trans }}
        <link href="{{ asset('css/bootstrap-grid.min.css') }}" rel="stylesheet">
RWD <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
w3-small w3-center w3-opacity

<a class="w3-bar-item  w3-padding-large w3-hide-medium w3-hide-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
{###}
