{% extends '@App/default/index.html.twig' %}
{% block title %}- {{ 'activation.header'| trans }} {% endblock %}

{% block body %}
    <br>
    <br/>
    <br/>
    <h1> {{ 'activation.h1'| trans |capitalize }} </h1>
    <br>
    {% block fos_user_content %}
        <br>
        <p>{{ 'activation.email.message'|trans({'%email%': user.email}) }}</p>
        <p>{{ 'activation.email.message2'|trans }}</p>
        <p>{{ 'activation.email.message3'|trans }}</p>
        <br>
    {% endblock fos_user_content %}
{% endblock %}
