{% extends '@App/default/index.html.twig' %}
{% block title %}- {{ 'register.header'| trans }} {% endblock %}

{% block body %}
<h3>You did it! You registered!</h3>

Hi ! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
<br>
Thanks! HornsUp Team.


{% endblock %}

{#}{% include "AppBundle:email:registration.html.twig" %} {###}