{% extends 'base.html.twig' %}
{% block title %}- {{ 'register.header'| trans }} {% endblock %}

{% block body %}

    <h1> {{ 'base.h1'| trans |capitalize }} </h1>

    <div class="register-form">
        <form method="post" action="{{ path('fos_user_registration_register') }}">
            <br/>
            <br/>
            <p>
                <label for="email"
                       class="col-sm-2 col-form-label required">{{ 'register.email.label'|trans|capitalize }}
                    :</label><br/>
                <input type="text"
                {{ form_widget(form.email, { 'attr':
                    {
                        'class': 'form-inline',
                        'title': 'register.email.title'|trans,
                        'placeholder': 'register.email.placeholder'|trans
                    } }) }}

                <br/>
                <br/>
                <label for="username"
                       class="col-sm-2 col-form-label required">{{ 'register.username.label'|trans|capitalize }}
                    :</label><br/>

                {{ form_widget(form.username, { 'attr':
                    {
                        'class': 'form-inline',
                        'pattern': '[A-Za-z0-9]{5,}',
                        'title': 'register.username.title'|trans,
                        'placeholder': 'register.username.placeholder'|trans
                    } }) }}

                <br/>
                <br/>
                <label for="password"
                       class="col-sm-2 col-form-label required">{{ 'register.password.label'|trans|capitalize }}
                    : </label><br/>

                {{ form_widget(form.plainPassword.first, {'attr':
                    {'class': 'form-inline',
                        'title': 'register.password.title'|trans,
                        'placeholder': 'register.password.placeholder'|trans
                    } }) }}

                <br/>
                <br/>
                <label for="password2"
                       class="col-sm-2 col-form-label required">{{ 'register.password2.label'|trans|capitalize }}
                    :</label><br/>

                {{ form_widget(form.plainPassword.second, {'attr':
                    {'class': 'form-inline',
                        'title': 'register.password2.title'|trans,
                        'placeholder': 'register.password2.placeholder'|trans
                    } }) }}

                {{ form_rest(form) }}

                <br/>
                <br/>
                <br/>
                <br/>
                <button id="buttonreg" class="btn btn-secondary btn-lg"
                        type="submit"> {{ 'register.button'|trans|capitalize }}</button>
                <br/>
                <br/>
            </p>
        </form>
    </div>

{% endblock %}



{#}
<label class="block">
    <input type="checkbox" class="privacy_agreement" required/>
    I agree to the <a href="{{ path('show_rodo_agreement') }}"></a> processing of personal data.
</label>

action="index.php?page=register"

<div class="container">
</div>
{##}
