{% extends 'base.html.twig' %}
{% block title %} {{ 'myaccount.header'| trans }} {% endblock %}

{% block body %}
    <p>
        <br>
        <br>
        <br>
        <a href="#">Powiadomienia</a>
        <br>
        <br>
        <a href="#">Historia</a>
        <br>
        <br>
        <a href="#">Ustawienia</a>
        <br>
        <br>
        <a href="{{ path('fos_user_change_password') }}" class="log" >{{ 'login.reset'|trans|capitalize }}</a>
    </p>

{% endblock %}