{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
{% block fos_user_content %}
    <br>
    <br>
    <div class="changepassword">
    {{ form_start(form, { 'action': path('fos_user_change_password'),
        'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}

        <br>
        <br>
        <br>
        <br>
        <br>
    <div>
        <input id="buttonchange" class="btn btn-secondary btn-lg" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
    </div>
    {{ form_end(form) }}

{% endblock fos_user_content %}
{% endblock %}






{#
changepassw
{% extends 'base.html.twig' %}


{% block body %}
{% block fos_user_content %}

    <br>
    <form action="{{ path('fos_user_change_password') }}" method="POST" class= "fos_user_change_password" >
            <br>
            <br>
        <div>
            <label id="reset" for="password">{{ 'change.password1'|trans }}</label>
            <input type="text" id="password" name="password" required="required" />
            <br>
            <br>
            <label id="reset" for="password">{{ 'change.password2'|trans }}</label>
            <input type="text" id="password" name="password" required="required" />
            <br>
            <br>
            <label id="reset" for="password">{{ 'change.password3'|trans }}</label>
            <input type="text" id="password" name="password" required="required" />
        </div>
            <br>
            <br>
            <br>
            <br>
    <div>
        <input id="buttonchange" class="btn btn-secondary btn-lg" type="submit" value="{{ 'change.button'|trans }}" />
    </div>



{% endblock fos_user_content %}
{% endblock %}


#}