{% extends '@App/default/index.html.twig' %}
{% block title %}{{ 'errorsupdate.title'| trans| capitalize }}{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>{{ 'errorsupdate.message1'| trans| capitalize }}</h1>
    <p>{{ 'errorsupdate.message2'| trans| capitalize }}</p>

    <h5>{{ error_message }}</h5>

{% endblock %}
