{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
        {{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {%- endautoescape -%}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        {{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}








{#

{% block body%}
        {{ path('fos_user_registration_confirmed') }}
    {% autoescape false %}
       {{ 'activation.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}

    {% endautoescape %}
{% endblock %}




         Activate link
Hello {{ user.username }}{% if not app.user is empty %}{{ app.user.username }}{% endif %} !

     You can activate your acount here. Ple {{ confirmationUrl }}

        Greetings,
        the Horns Up team.

     {% block fos_user_content %}
    {% include "AppBundle:email:registration.html.twig" %}
{% endblock fos_user_content %}

        ###}