{% block subject %}{{ 'change.header'| trans| capitalize }} {% endblock %}

{% block body %}
    {{ path('fos_user_change_password') }}
    {% autoescape false %}
        {{ 'change.password.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
{% endblock %}


