{% block subject %}{{ 'resetting.header'| trans| capitalize }} {% endblock %}

{% block body_text %}
    {% autoescape false %}
        {{ 'resetting.email.message'|trans}} {{ user.username }}!
        {{ 'resetting.email.message2'|trans}} -> {{ confirmationUrl}}
        {{ 'resetting.email.message3'|trans}}
    {% endautoescape %}
{% endblock %}




{#You can reset your password by accessing {{ confirmationUrl }}
Resetting your password
Greetings,
the Horns Up team.
#}

{#
{% block body_html %}

    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it

{% include 'email/password_resetting.html.twig' %}
{% endblock %}

#}