body {
    background-image: url(beh_004_rev.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: auto;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

/*a {
    color: black;
}*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.home {
    background-color: #E18728;
}

h1 {
    margin-top: 40px;
    /*margin-left: 150px;*/
    margin-bottom: 10px;
    font-size: 30px;
    color: #E18728;
    width:100%;
    text-align: center;
}

#buttonreg {
    margin-left: 270px;
}

p {
    margin-left: 130px;
    margin-top: -20px;
}

h4 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

span1 {
    font-size: 12px;
}

span2 {
    font-size: 12px;
}

h2 {
    margin-top: 40px;
   /* margin-left: 150px;*/
    margin-bottom: 10px;
    font-size: 30px;
    color: #E18728;
    width:100%;
    text-align: center;
}

#buttonlog {
    margin-left: -120px;

}

#remember {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 12px;
}

#checkbox {
    margin-top: 10px;
    margin-bottom:120px;
    margin-left: 260px;
}

#singup {
    margin-top: 10px;
    margin-bottom:120px;
    margin-left: 0px;
}

#lost {
    margin-top: 10px;
    margin-bottom:120px;
    margin-left: 0px;
}

#button2{
    margin-left: 120px;
}

.menu {
    top:0;
    width:100%;
    z-index:1;
}

#language {
    float: right;
    margin-right: 20px;
    margin-top: 12px;
}

.menu-toolbar {
    width:100%;
    overflow:hidden;
    background-color:#f1f1f1;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    text-decoration: none;
    opacity:0.60;
    color:#000;
}

footer {
    width:100%;
    display: block;
    clear: both;
    position:absolute;
    bottom:30px;
    margin-left: -30px;
}

.team {
    font-size:12px;
    margin-left: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-decoration: none;
    margin: 5px 2px;
}

#login {
    float: right;
}

#change {
    float: right;
}

/*wyszukiwarka*/
form {
    margin: 0 auto;
    width: 100%;
    display: block;
}

label, input {
    float: left;
    color: lightgrey;
    vertical-align: baseline;
}

label {
    margin: 2px 2px 0 0;
}

input[type=text] {
    font: 1em Arial, Sans-serif;
    border: 2px solid #737373;
    border-width: 0 0 3px;
    background-color: transparent;
    padding: .1875em .375em;
    width: 50%;
}

input[type=text]:focus {
    outline: 0;
    border-color: #E18728;
    color: #E18728;
}

input[type=password] {
    font: 1em Arial, Sans-serif;
    border: 2px solid #737373;
    border-width: 0 0 3px;
    background-color: transparent;
    padding: .1875em .375em;
    width: 50%;
}

input[type=password]:focus {
    outline: 0;
    border-color: #E18728;
    color: #E18728;
}

#button3 {
    margin-left: 20px;
}

#message {
    float: left;
    width: 102%;
}

#email {
    float: right;
    width: 50%;
}

#name {
    float: left;
    width: 100%;
}

#pole {
    float: right;
    width: 70%;
}

#datepicker {
    float: right;
    width: 70%;
    -moz-appearance: none;
    font: 1em Arial, Sans-serif;
    border: 2px solid #737373;
    border-width: 0 0 3px;
    background-color: transparent;
    padding: .1875em .375em;
    color: #E18728;
    overflow-y: auto;
}

#search {
    float: left;
    margin-left: 200px;
}

.select {
    -moz-appearance: none;
    font: 1em Arial, Sans-serif;
    border: 2px solid #737373;
    border-width: 0 0 3px;
    background-color: transparent;
    padding: .1875em .375em;
    width: 50%;
    color: #E18728;
    overflow: auto;
}

.changepassword {
    float: left;
    width: 47%;
    margin-left: 50px;
}

.fos_user_change_password {
    width: 50%;
    margin-left: 50px;
    float: left;
}

#buttonchange {
    margin-left: 120px;
}

#password {
    width: 50%;
    margin-left: 50px;
    float: left;
}

#buttonreset {
    margin-left: 400px;
}

#reset {
    margin-left: 100px;
    width: 15%; /*47*/
}



/*
#language {
    float: right;
}

border-color: #E18728;
input[type=text] {
    font: 1em Arial, Sans-serif;
    border: 2px solid #737373;
koniec wyszukiwarka*/
/*
#footer {
    clear: both;
    position:fixed;
    padding-top:14px; /
    padding-bottom:14px;
    margin-top:-150px;
    width: 100%;
    bottom: 30px;
    margin-right: 30px;
}
*/
/*

.w3-input {
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"

    https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_band&stacked=h


toolbar {
    top:0
}




toogle {
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    padding:12px 24px;
    display:none;
    float:right
}

home {
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
    width:100%;
    text-align:left;
    padding:8px 16px;
    padding:12px 24px
}



 margin-right: 30px;
    margin-bottom: 30px;

globalnie dla calości z gwiazdka, tylko trzeba wyłączyć marginesy w poszczególnych polach

*   {
    text-align: center;
    background-color: red;
    }
*/

/*
background-position: center;

    max-width: 100%;
    height:auto;
    width:auto;


RWD?????

wszystko wsadzic w container
.container{
    position: relative;
}

head {

    shape-rendering: auto;
}

*/
/*
.container {
    width: auto;
    margin:0 auto;
    margin-left: 120px;
}*/

/*
* {
    margin: 0;
    padding: 0;
}

}

html {
    width:100%;
    height:100%;
}

head {
    width: auto;
    margin: 0 auto;
}

.container {
    width:1050px;
    margin:0 auto;
}

*/