{% extends 'base.html.twig' %}
{% block title %}- {{ 'login.header'| trans }} {% endblock %}

{% block body %}
    <br>
    <br>
    <h2> {{ 'base.h2'| trans |capitalize }} </h2>

    <div class="login-form">
        <form method="post" action="{{ path('fos_user_security_check') }}">
            <br/>
            <br/>
            <p>
                <label for="username"
                       class="col-sm-2 col-form-label required">{{ 'login.username.label'|trans|capitalize }}
                    :</label><br/>
                <input type="text" name="_username" placeholder="{{ 'login.username.placeholder'|trans }}" required=""/>
                <br/>
                <br/>
                <label for="password"
                       class="col-sm-2 col-form-label required">{{ 'login.password.label'|trans|capitalize }}
                    :</label><br/>
                <input type="password" name="_password" placeholder="{{ 'login.password.placeholder'|trans }}"
                       required=""/>
                <br/>
                <br/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

                <input id="checkbox" type="checkbox" name="remember"/>
                <label id="remember" for="remember">{{ 'login.remember'|trans|capitalize }}</label>
                <br/>
                <br/>
                <button id="buttonlog" class="btn btn-secondary btn-lg"
                        type="submit"> {{ 'login.button'|trans|capitalize }}</button>
                <br/>
                <br/>
                <span1><a id="lost" class="lost"
                          href="{{ path('fos_user_resetting_request') }}"> {{ 'login.lost'|trans|capitalize }}?</a>
                </span1>
                <br/>
                <span2 id="singup" class="sign-up"> {{ 'login.sign-up'|trans|capitalize }}?
                    <a class="reg" href={{ path('fos_user_registration_register') }}> {{ 'login.reg'|trans|capitalize }}
                        !</a></span2>
            </p>
        </form>
    </div>

{% endblock %}

{#}
action="index.php?page=login"

<a class="fpassw" href={{ path('fos_user_change_password') }}>

<span1 class="fpassw"><a class="lost" href="lostpassword.html"> {{ 'login.lost'|trans|capitalize }}?</a></span1>

<div class="container">
</div>
{##}