{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
{% block fos_user_content %}
    <br>
    <br/>
    <br/>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}

{% endblock %}
{% endblock %}
