{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
{% block fos_user_content %}
    <br>
    <br>
    <br>
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

        <div>
            <label id="reset" for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" required="required" />
        </div>
        <div>
            <br>
            <br>
            <br>
            <input id="buttonreset" class="btn btn-secondary btn-lg" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>

    </form>

{% endblock fos_user_content %}
{% endblock %}



