{% extends 'base.html.twig' %}

{% block body %}
{% block fos_user_content %}
    <br>
    <br/>
    <br/>
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock %}