<h3>Dane osobowe</h3>

<form name="edit_user_data" method="post" action="
        {{ (userId is defined)
        ? path('edit_user_addons_data', {"userId": userId})
        : path('edit_own_addons_data')}}
    ">

    {{ form_rest(user_data_form) }}

    <input type="submit" value="zapisz"/>

</form>
