{% extends '@App/default/index.html.twig' %}
{% block title %}{{ 'edit.users'| trans |capitalize}}{% endblock %}

{% block body %}
    {{ parent() }}

    <form name="edit_user" method="post"
                  action="
         {{ (userId is defined)
            ? path('edit_user', { "userId": userId } )
            : path('edit_own_data') }}
    ">

    {{ form_rest(form) }}

    <input type="submit" value="zapisz"/>

    </form>
    {% if userId is defined %}
        {{ render(controller('AppBundle:User:editAddonsData', {"userId": userId}) )}}
    {% else %}
        {{ render(controller('AppBundle:User:editOwnAddonsData')) }}
    {% endif %}

{% endblock %}