{% extends '@App/default/index.html.twig' %}
{% block title %}{{ 'index.users'| trans | capitalize }}{% endblock %}

{% block body %}
    {{ parent() }}

    <table style="border: 1px black solid">

        <thead>
        <tr>
            <td>lp</td>
            <td>login</td>
            <td>email</td>
            <td>last login</td>
        </tr>
        </thead>

        <tbody>

        {% for user in users %}

            <tr>
                <td style="border: 1px black solid">{{ loop.index }}</td>
                <td style="border: 1px black solid">{{ user.username }}</td>
                <td style="border: 1px black solid">{{ user.email }}</td>
                <td style="border: 1px black solid" id="user_{{ user.id }}">
                    <a href="{{ path('ajax_users_data', {"userId": user.id}) }}" class="ajax-link" data-confirm="Czy napewno pokazać nazwisko i imię użytkownika?">...</a>
                </td>
                <td style="border: 1px black solid">{{ user.lastLogin|date('Y-d-a')}}</td>
                <td>
                <td>
                    {% if is_granted('ROLE_ADMIN') or app.user.id == user.id %}
                    <a href="{{ path('edit_user', {"userId": user.id}) }}">
                        {#web/webfonts/#}
                        <i class="fa fa-edit"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}

        </tbody>

    </table>
{% endblock %}

