{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <br/>
    {{ 'info.message'|trans }} {%if not app.user is empty%}{{  app.user.username }}{% endif %}!
    <br/>
    <br/>
    {{ 'info.message2'|trans|capitalize }}

{% endblock %}

{#}
footer
{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}.
{{ name }}{##}